node_modules/
dist/
dist-types/
*.tsbuildinfo
coverage/
.DS_Store
*.log
.env
.env.*
!.env.example
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.idea/
.vscode/
*.tgz
